body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Rubik', sans-serif;
}

/* navbar */
.nav {
  border: 5px solid
}
.toggler {
  border: none!important;
}
.link {
  border: none;
  font-size: 2em;
  color:   #182628!important; 
  font-weight: bolder;
}
.link_title {
  border: none;
  font-size: 5em;
  color:   #182628!important; 
}
.top_link1{
  border: none;
  margin-left: -10%;
  margin-top: 2%;;
  color:   #182628!important; 
}
.top_link2{
  border: none;
  margin-top: 2%;;
  color:   #182628!important; 
}
.brand_link {
  border: 5px solid black;
  font-size: 2.5em!important;
  font-style: oblique;
  font-weight: bolder;
  color: darkorange !important;
}
.brand_link:hover {
  border: 5px solid transparent;
  transform: rotate(-10deg);
}


/* main_dashboard */
.homepage {
  border: 5px solid;
  height: 1250px;
  display: flexbox;
}
.btn_main_header {
  border: 5px solid;

}
.homepage_header {
  text-shadow: blue !important;
}

.btn_container0 {
  margin-top: 5%;
  margin-left: 5%;
}

.dash_btn0 {
  border: none;
  margin-left: 5%;
  height: 250px;
  width: 250px;
  background-color: #EB3573;
  display: inline-block;
}
.dash_btn01 {
  border: none;
  height: 250px;
  width: 250px;
  background-color: #182628;
  display: inline-block;
}
.btn_container02 {
  border: none;
  margin-top: -15%;
  margin-left: 50%;
}
.dash_btn02 {
  border: none;
  height: 250px;
  width: 250px;
  background-color: #EB3573;
  display: inline-block;
}
.dash_btn02 {
  border: none;
  height: 250px;
  width: 250px;
  background-color: darkorange;
  display: inline-block;
}
.dash_btn022 {
  border: none;
  height: 250px;
  width: 250px;
  background-color: #182628;
  display: inline-block;
}

.btn_container {
  margin-top: -5%;
  border: none;
}
.dash_btn1 {
  border: none;
  margin-left: 5%;
  height: 250px;
  width: 250px;
  background-color: #182628;
  display: inline-block;
}
.artist {
  border: none;
  color: greenyellow;
  font-size: 8em;
  transform: rotate(-20deg);
}
.dash_btn2 {
  height: 250px;
  width: 250px;
  background-color: #EB3573;
  display: inline-block;
}
.btn_container2 {
  border: none;
  margin-top: -15%;
  margin-left: 50%;
}
.dash_btn3 {
  border: none;
  height: 250px;
  width: 250px;
  background-color: #182628;
  display: inline-block;
}
.dash_btn4 {
  border: none;
  height: 250px;
  width: 250px;
  background-color: darkorange;
  display: inline-block;
}
.social_links_homepage {
  border: none;
  margin-top: -50%;
  margin-left: 50%;
  color: none !important;
}
.fab {
  border: none;
  margin-left: 5%;
  color:  none;
}
.dashboard_links {
  color: black !important;
}
.cards {
    border: none;
    width: 70%;
}


/* beat cards  <Beats /> */
.recent_uploads {
  border: none;
  margin-left: -5%;
  font-size: 2em!important;  
  writing-mode: vertical-rl;
  position: fixed;
  border-right: 2px solid greenyellow;
}
.beat_container {
  border-left: 5px solid;
  margin-top: -90%;
  margin-left: 65%;
  }
.beat_cards_right {
  width: 40%;
  margin-left: 10%;
  margin-top: 10%;
  border: none!important;
}
.card-img-top {
  max-width: 100%;
  height: 15vw;
  object-fit: cover;
  border-image-width: 75%;
  border-top-right-radius: 50%;
}
.card_name {
  border: none;
  max-height: 250px;
  margin-left: 100%;;
  margin-top: -100px;
  writing-mode: vertical-lr;
  text-orientation: initial;
}
.text-muted {
  border: none;
}
.audio-player {
  border: 5px solid
}

  
/* //signup form */
.signup_form {
  display: flex;
  margin-left: 25%;
  margin-top: -15%;
}
.signup_btn1 {
  margin-top: 10%;;
  border: none;
  margin-left: 10%;
  height: 250px;
  width: 250px;
  background-color: #EB3573;
  display: inline-block;
}
.signup_btn2 {
  border: none;
  margin-top: -10%;
  margin-left: 70%;
  height: 250px;
  width: 250px;
  background-color: #182628;
  display: inline-block;
}
.signup_artist {
  border: none;
  color: greenyellow;
  font-size: 8em;
  margin-top: -25%;
  transform: rotate(-20deg);
}


/* artist form extra information */
.form_header {
  color: darkorange;
  font-size: 5em;
  margin-top: -30%;
  margin-left: -30%;
  transform: rotate(-20deg);
}
.signup_form2 {
  display: flex;
  margin-left: 25%;
  margin-top: -15%;
}
.form_btn1 {
  margin-top: 10%;;
  border: none;
  margin-left: 10%;
  height: 250px;
  width: 250px;
  background-color: #182628;
  display: inline-block;
}
.form_btn2 {
  margin-top: -10%;;
  border: none;
  margin-left: 70%;
  height: 250px;
  width: 250px;
  background-color: #182628;
  display: inline-block;
}




/* artist homepage  */
.artist_main {
  border: 5px solid
  
}
.artist_card {
  border: none !important ;
  width: 40%;
  margin-left: 20%;
  margin-top: 10%;

}
.artist_profile_beat {
  border: none !important;
  background: none !important;
  width: 50%;
  margin-left: 25%;
}
.artist_beat_box {
  border: none;
  margin-left: 95%;
  margin-top: 20%;
  height: 100px;
  width: 100px;
  background-color: darkorange;
  display: inline-block;
}
.artist_beat_box2 {
  border: none;
  margin-left: 95%;
  height: 100px;
  width: 100px;
  background-color: #EB3573;
  display: inline-block;
}
.artist_beat_box3 {
  border: none;
  margin-left: 95%;
  height: 100px;
  width: 100px;
  background-color: greenyellow;
  display: inline-block;
}
.profile_beat_container {
  margin-top: -80%;
  margin-bottom: 50%;
  border: 10px solid;
}




/* beats main dashboard */

.beats_dashboard_container {
  border: 5px solid;
}
.card_name_dashboard {
  border-top: 5px solid;
  margin-bottom: 5%;
}
.beats_dashboard_header {
  margin-left: 25%;
  margin-top: 10%;
  font-size: 2em!important;  
  writing-mode: vertical-rl;
  position: fixed;
  border-right: 5px solid greenyellow;
}
.beats_cards_dashboard {
  width: 55%;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 5px solid
}
.beats_dashboard_links {
  margin-left: 65%;
  margin-top: -10%;
  border: 2px solid greenyellow;
  width: 15%;
}
.beats_dashboard_spotify {
  color: black !important
}
.beats_dashboard_image {
  max-width: 65%;
  height: 15vw;
}
.bio_bar {
  border: none;
  margin-left: 70%;
  margin-top: -40%;
  margin-bottom: 30%;
  height: 70px;
 
  border: 5px solid;
  display: inline-block;
  color: greenyellow;
  font-size: 3em;
}

.artist_bar {
  border: none;
  margin-left: -20%;
  transform: rotate(-20deg);
  color: greenyellow;
}

/* title_bar */
.beats_title_bar {
  background-color: #182628;
  border: 10px solid;
  height: 150px;
}

/* top_artists header bar */
.beats_top_artists {
 margin-left: 75%;
}
.beats_dashboard_btn1 {
  border: none;
  height: 200px;
  width: 200px;
  background-color: darkorange;
  display: inline-block;
}
.beats_top_artist_header {
  border: none;
  color: greenyellow;
  font-size: 5em;
  transform: rotate(-20deg);
}

/* top_artists feed */

.top_artists_container {
  border: 5px solid; 
  margin-top: 40%;
  height: 800px;
  width: 250px;
}



/* todays beats */
.beats_todays_beats { 
  margin-left: 20%;
}
.beats_todays_beats_header {
  border: none;
  color: greenyellow;
  font-size: 8em;
}

/* top producers */
.beats_top_producers {
  margin-top: -25.8%;
  margin-left: 5%;
}
.beats_dashboard_btn3 {
  border: none;
  height: 200px;
  width: 200px;
  background-color: #EB3573;
  display: inline-block;
}
.beats_top_producers_header {
  border: none;
  color: greenyellow;
  font-size: 5em;
  transform: rotate(-20deg);
}


/* top_artists feed */
.top_producers_container {
  border: 5px solid; 
  margin-top: 40%;
  height: 800px;
  width: 250px;
}







  /* footer */
  .bottom { 
    margin-top: 5%;
    margin-bottom: 5%;
    width: 75%;
    margin-left: 20%;
  }
  .botton_nav {
    border: none;
  }
  .footer_link {
    color:   #718f94!important;   
  }